<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <title>Hemkollen</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<div style="width: 80vw; margin-left: auto; margin-right: auto; margin-top: 30px">
    <h3>Nedan visas de 10 senaste eventen</h3><br>
    <table class="table">
        <tr>
            <th>Datum och tid</th>
            <th>Sensor</th>
        </tr>
        {% for a in content %}
            <tr>
                <td>{{ a.dt }}</td>
                <td>{{ a.message }}</td>
            </tr>
        {% endfor %}
    </table>
    <p>Senaste ping kl: <strong>{{ ping.dt }}</strong>.
</div>
</body>
</html>